/* src/styles/App.css */

/* Layout do App */
body,
html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* Contêiner principal */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilo para as seções */
section {
  padding: 4rem 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #282c34;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  line-height: 1.8;
}

/* Layout Responsivo */
@media (max-width: 768px) {
  section {
    padding: 2rem 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}
