/* src/pages/Home.css */
/* src/pages/Home.css */

.home-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    to right,
    #171717,
    #ff0000
  ); /* Gradiente como fundo */
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.intro h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  animation: fadeIn 1s ease-in-out; /* Animação de fade in */
}

.intro p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

.typing-effect {
  font-size: 2rem;
  font-family: "Courier New", monospace; /* Fonte de máquina de escrever */
  white-space: nowrap; /* Para manter o texto em uma linha */
  overflow: hidden; /* Para ocultar o texto que ainda não foi digitado */
  border-right: 0.15em solid #fff; /* Efeito de cursor */
  width: 100%; /* Para ocupar toda a largura */
  animation: blink 0.75s step-end infinite; /* Animação de cursor piscante */
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent; /* Efeito de piscar */
  }
}
