.contact-container {
  display: block;
  border: solid, 1px, rebeccapurple;
  padding: 2rem;
  background-color: #f9f9f9;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centraliza o texto */
}

h2 {
  margin-bottom: 1rem;
}

.contact-flex {
  display: flex;
  flex-direction: column; /* Altera para coluna para melhor responsividade */
  align-items: center; /* Centraliza horizontalmente */
  gap: 2rem; /* Espaço entre a imagem e o formulário */
}

.logo {
  max-width: 150px; /* Define um tamanho máximo para a imagem do logo */
  width: 100%; /* Responsivo */
  height: auto; /* Mantém a proporção */
  border-radius: 50%; /* Forma circular */
  border: 2px solid #61dafb; /* Borda do logo */
}

.contact-form {
  flex: 1; /* O formulário ocupará o restante do espaço disponível */
  min-width: 300px; /* Define uma largura mínima para o formulário */
  width: 40%; /* Responsivo */
}

.form-group {
  margin-bottom: 1rem;
  width: 100%; /* Faz o grupo ocupar a largura total */
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.7rem; /* Aumenta o padding para mais conforto */
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease; /* Efeito de transição */
}

input:focus,
textarea:focus {
  border-color: #61dafb; /* Altera a cor da borda ao focar */
  outline: none; /* Remove o contorno padrão */
}

.submit-button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: rgb(243, 243, 240);
  background: -moz-linear-gradient(
    90deg,
    rgba(243, 243, 240, 1) 2%,
    rgba(0, 146, 255, 0.5966036072632177) 13%,
    rgba(15, 77, 181, 0.28148889237908037) 87%,
    rgba(63, 60, 60, 0.8374999658066351) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(243, 243, 240, 1) 2%,
    rgba(0, 146, 255, 0.5966036072632177) 13%,
    rgba(15, 77, 181, 0.28148889237908037) 87%,
    rgba(63, 60, 60, 0.8374999658066351) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(243, 243, 240, 1) 2%,
    rgba(0, 146, 255, 0.5966036072632177) 13%,
    rgba(15, 77, 181, 0.28148889237908037) 87%,
    rgba(63, 60, 60, 0.8374999658066351) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f3f3f0",endColorstr="#3f3c3c",GradientType=1);
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efeito de transição */
}

.submit-button:hover {
  background-color: #21a1f1; /* Altera a cor ao passar o mouse */
}
