.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #05286f;
  color: white;
  position: relative;
  transition: background-color 0.3s;
}

.header.scrolling {
  background-color: rgba(40, 44, 52, 0.9); /* Muda a cor ao rolar */
}

.logo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

nav {
  position: relative;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  transition: max-height 0.3s ease-in-out;
}

.nav-links ul {
  display: flex;
  gap: 1.5rem;
}

.nav-links.active {
  display: block;
}

.nav-links ul li {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #61dafb;
}

.menu-toggle {
  display: none; /* Oculta por padrão */
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: transform 0.3s ease;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Oculta links de navegação por padrão em dispositivos móveis */
    flex-direction: column;
    position: absolute;
    top: 60px; /* Abaixo do header */
    left: 0;
    right: 0;
    background-color: #05286f;
    padding: 1rem 0;
    z-index: 10;
    transition: max-height 0.3s ease-in-out; /* Transição suave */
  }

  .nav-links.active {
    display: flex; /* Exibe links de navegação quando o menu está ativo */
  }

  .menu-toggle {
    display: flex; /* Mostra o botão do menu em dispositivos móveis */
  }
}
